h1 {
  color: #11999E;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 100px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  color: #66BFBF;
}

h4 {
  margin: 50px auto 0 auto;
  font-size: 2rem;
  color: #11999E;
}

a {
  color: #66BFBF;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #dfebe8;
}

hr {
    border-style: dotted none none;
    border-color: #66BFBF;
    border-width: 5px;
    width: 3%;
}

.cloud1 {
  position: absolute;
  top: 10px;
  right: 200px;
  width: 120px;
}

.cloud2 {
  position: absolute;
  left: 200px;
  bottom: 370px;
  width: 120px;
}

.mountain {
  height: 400px;
  margin: 100px auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.peoplepic {
  height: 200px;
  margin: 50px auto 0 auto;
}

.deskpic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bamboopic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #dfebe8;
  margin: 0;
  position: relative;
  height: 625px;
}

.middle-container {
  background-color: #fcfcfc;
  line-height: 2;
}

.bottom-container {
  margin: 0;
  padding: 20px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.btn {
  background-color: #11999E;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto 35px auto;
}

.btn:hover {
  background-color: #66BFBF;
}

.copyright {
  color: #11999E;
}

.intro {
  width: 30%;
  margin: auto;
}

.mandarin {
  text-align: right;
}
